<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <%= image_tag("logo.png", width: '50px') %>
        My Contact List App
    </a>
</nav>